extends layout

block content
  h1 Santo Delgado
  h1 C.I.V-24238114
  h1  Seccion: 3

block content
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur tempore officiis ex nesciunt eligendi eos consequuntur et asperiores ducimus veniam modi dolor distinctio sit repellendus ab sint perferendis, nihil dolore!