extends layout

block content
  h1 Santo Delgado
  h1 C.I.V-24238114
  h1  Seccion: 3
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere assumenda animi ratione aliquid officiis eos atque. Perspiciatis iure error sint voluptatem debitis, commodi, veritatis sapiente, rem magnam suscipit numquam in!
  